services:
  postgres:
    container_name: wb-postgres
    env_file:
      - .env
    ports:
      - 5432:5432
    volumes:
      - type: volume
        source: postgres-data
        target: /var/opt/postgres/data
    networks:
      - workflow-builder

  pgadmin:
    container_name: pgadmin
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - 5050:80
    restart: unless-stopped
    volumes:
      - pgadmin-data:/var/lib/pgadmin

networks:
  workflow-builder:

volumes:
  postgres-data:
  pgadmin-data:
